#tendersTable {
  width: 785px;
  min-height: 85vh;
}

#tendersTable > tbody > tr {
  font-size: 15px;
}

#tendersTable_length > label > select {
  margin-left: 10px;
}

#selectRegion {
  margin-left: 30px;
}

#selectCareer {
  margin-left: 40px;
}

#selectRegionSelect {
  width: 85px;
  margin-bottom: 0px;
}

#selectCareerSelect {
  width: 220px;
  margin-bottom: 0px;
}

#hidePrefectures {
  margin-bottom: 0px;
  display: inline-block;
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
}

#hidePrefecturesLabel {
  margin-left: 10px;
  margin-top: 9px;
  display: inline-block;
}

.pagination {
  margin-top: 5px;
  margin-bottom: 0px;
}

.highlightRow {
  background-color: #ffff99 !important;
}
