#tendersTable {
  width: 785px;
  min-height: 85vh;
}

#tendersTable > tbody > tr {
  font-size: 15px;
}

#tendersTable_length {
  margin-left: 100px;
}

#tendersTable_length > label > select {
  margin-left: 10px;
}

#selectRegionSelect {
  width: 75px;
  margin-left: 10px;
  margin-bottom: 0px;
}

#hidePrefectures {
  margin-bottom: 0px;
  display: inline-block;
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
}

#hidePrefecturesLabel {
  margin-left: 15px;
  margin-top: 9px;
  display: inline-block;
}

.pagination {
  margin-top: 5px;
  margin-bottom: 0px;
}

.highlightRow {
  background-color: #ffff99!important;
}
